.profile-dropdown {
  display: flex;
  border: 0;
  background-color: transparent;


}

.btn {
  background-color: transparent !important;
  border: 0 !important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: -0.745em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  margin-top: 1rem;
}

.dropdown-menu {
  position: absolute;
  top: 0px;
  left: 67px;
  margin: 1px;
  right: auto;
  bottom: auto;
  transform: translate(0px, 50px);
  border-radius: 20px;
  background-color: #f2f2f2;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.menu-items {

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;

}

.divider-bottom {
  margin-left: 19px;
  margin-right: 19px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.dropdown-menu.show {
  display: block;
  position: absolute;
  top: 0px;
  left: auto !important;
  margin: 0px;
  right: 0px !important;
  bottom: auto;
  transform: translate(0px, 50px);
  background: #F2F2F2;
  border-radius: 20px;
  width: 212px;

}