@media screen and (max-width: 1400px) {

  th,
  td {
    width: 80px !important;
    max-width: 80px !important;
  }
}

.table-text-head-status {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #494949;
}

.table td,
.table th {
  vertical-align: middle !important;
}


.merchants-table {
  text-align: center;
}

.table-head-color {
  background: #F6F9FC !important;
  border-radius: 10px;
  text-align: center;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px !important;
}

.table td,
.table th {
  padding: 0px !important;
  vertical-align: top;
  border-top: 0 !important;
}