.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #413E38;
}


.col-2 {
  background-color: #413E38;
  min-height: 100vh;
}

.logo {
  text-align: center;
  align-items: center;
  align-self: center;
}

.menu-text {
  font-family: 'Track';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: row;
  color: #CFCFCD;
  mix-blend-mode: normal;
  padding-left: 11px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 31px;
}

.menu-items-text {
  margin-top: 4px;
}

.solid {
  border-top: 3px solid #706E6A;
}

.menu-footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #CFCFCD;
  text-align: center;
}

.bottom-sidebar {
  margin-top: auto;
  position: relative;
  bottom: -400px;
}

.active {
  background: #706E6A;
  box-shadow: 0px 5px 10px #413E38;
  border-radius: 5px;
  padding-left: 11px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 31px;
}