@media screen and (max-width: 1400px) {

  th,
  td {
    width: 80px !important;
    max-width: 80px !important;
  }
}

.table-text-head-status {
  color: black;
  text-align: center;
}



.table-head-color {
  background: #F6F9FC !important;
  border-radius: 10px;
  text-align: center;
}

.notifications-table {
  text-align: left !important;
}