.settings-button-third {
  position: relative;
  top: -52px;
}

.settings-button-fourth {
  position: relative;
  left: 142px;
  top: -95px;
  width: 20px;
}

.btw-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 23px;
}

.input-btw {
  width: 42px;
  height: 40px;
  background: #FAFAFA;
  box-shadow: inset 0px -2px 4px rgba(157, 157, 157, 0.15);
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #494949;
  margin-bottom: 7px;
  margin-right: 10px;
}

.reset-button {
  width: 243px;
  height: 47px;
  border: 1px solid #B5B268;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(181, 178, 104, 0.15);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  color: #B5B268;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}

.reset-second-button {
  width: 160px;
  height: 47px;
  background: #413E38;
  /* Card Shadow primary */

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 10px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.settingsbtw-title {
  position: relative;
  top: -95px;
}

.settingsbtw-body {
  position: relative;
  top: -105px;
}

.settingsbtw-buttons {
  position: relative;
  top: -115px;
}