.settings-button-first {
  position: relative;
  top: -52px;
  width: 120px;
}

.settings-button-second {
  position: relative;
  top: -96px;
  left: 142px;
  width: 120px;
}

.settings-title {
  position: relative;
  top: -95px;
}

.settings-table {
  position: relative;
  top: -100px;
}