.searchbar {
  border: none;
  background-color: #EEEEEE;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
}


.input-custom {
  border: none;
  background-color: #EEEEEE;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 19px;
  align-items: center;
  color: black !important;
  text-transform: none !important;
}

.image-search {
  background: #FFFFFF;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.1);
}



.btn {
  background-color: #FFFFFF;
}

.form-control {
  display: block;
  height: 46px !important;
  padding: .375rem .75rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px 10px 10px 10px !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 19px;
  align-items: center;
  color: #000000 !important;
  text-transform: none !important;
}

.btn-search {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: white !important;
  border: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0 0 0 10px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-left: 10px;
}

.search-button {
  background-color: #FFFFFF;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 0px !important;
}

.form-control {
  background: #EEEEEE;
  border-radius: 10px 10px 10px 10px !important;

}