.searchbar-merchants {
  width: 156px !important;
  height: 40px !important;
  background: #EEEEEE !important;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 0px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: #000000;
  flex: 0 auto !important;
  border: none !important;
  outline: none !important;
  outline-offset: none !important;
}

.search-icon {
  background: #FFFFFF;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;

  padding-left: 11px;
  padding-right: 13px;
  height: 40px;
}

.searchbar-merchants::placeholder {
  font-style: normal !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 19px !important;
  align-items: center !important;
  color: #000000 !important;

}

.searchbar-conatiner {
  margin-left: 50px !important;
}

.searchbar-button {
  border: none;
  color: #EEEEEE !important;
  border-radius: 0px 10px 10px 0px;
  background-color: #EEEEEE;
  box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 1px !important;
  outline: none !important;
  outline-offset: none !important;
}