.page-title {
  font-family: Track;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}

.header-merchants {
  flex-direction: row;
}

.merchants-components {
  margin-top: 25px;
}

.merchants-components-second {
  margin-top: 22px;
  margin-left: 20px;
}