.head-title {
  font-family: 'Track';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 35px;
}

.live-view {
  font-family: 'Track';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.dropdown-menu.show {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  right: auto;
  bottom: auto;
  transform: translate(0px, 50px);
  background: #F2F2F2;
  border-radius: 20px;
}

.live-view-card-container {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 10px;
}